/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

svg {
  border: solid;
}

path {
  color : black;
}

circle {
  color : black;
}

image {
  height : 50px;
  width : 50px;
}

@-webkit-keyframes rotate {
  from {
    transform-origin : 50% 50%;
    -webkit-transform: rotate(0deg);
  }
  to { 

    transform-origin : 50% 50%;
    -webkit-transform: rotate(360deg);
  }
}

image.enemy
{
    -webkit-animation-origin: 50% 50%;
    -webkit-animation-name:             rotate; 
    -webkit-animation-duration:         1s; 
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear;
}